<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

{% extends 'base.html' %}

{% block title %} Shop {% endblock %}

{% block body %}


<div class="container text-center">
    <div class="row" >

{% if session.get('is_admin') != 1 %}
<meta name="viewport" content="width=device-width, initial-scale=1">

      <div class="col " style="margin: 13px;">
        <div class="list-group text-center" >

            <a href="{{ url_for('views.shop') }}" class="list-group-item list-group-item-action">
                <i class="shop-link" aria-hidden="true"></i>
                <span class="link-name">Shop</span>
            </a>
            <a href="{{ url_for('views.start_project') }}" class="list-group-item list-group-item-action">
                <i class="project-link" aria-hidden="true"></i>
                <span class="link-name">Projekt starten</span>
            </a>
            <a href="{{ url_for('views.my_reviews') }}" class="list-group-item list-group-item-action">
                <i class="reviews-link"></i>
                <span class="link-name">Meine Reviews</span>
            </a>
            <a href="{{ url_for('views.my_orders') }}" class="list-group-item list-group-item-action">
                <i class="orders-link"></i>
                <span class="link-name">Meine Bestellungen</span>
            </a>

        </div>
      </div>

{% endif %}

<div class="container">
    <h2>Unsere Produkte</h2>
    <div class="row justify-content-center">
        {% for product in products %}
        <div class="col-md-4" style="margin: 10px;">
            <div class="card" style="width: 18rem; background-color: rgba(158, 138, 138, 0.756); color: #ffffff;">
                <img class="card-img-top" src="{{ url_for('static', filename='images/' ~ product[11]) }}" alt="{{ product[11] }}" style="transform: translateX(-5%); transform: rotate(4deg); box-shadow: 0 8px 18px rgba(0, 0, 0, 0.8);border-radius: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Name: {{ product[4] }}</h5>
                    <h5>{{ product[5] }}</h5>
                    <h5 class="card-text">Auf Lager {{ product[9] }}</h5>

                    <a href="{{ url_for('views.product_detail', product_id=product[0]) }}" class="btn btn-primary">
                        Details</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}